* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-nav: #1b1b1b;
  --bg-body: #f1e8e2;
  --text-white: #ffffff;
  --text-primary: #0f0f0f;
  --page-side-margin: 2rem;
}

a {
  text-decoration: none;
}

body {
  background: var(--bg-body);
}

nav#topNav {
  /* height: 10vh; */
  background: #1b1b1b;
  background: var(--bg-nav, #1b1b1b);
  padding: 0 2rem;
  padding: 0 var(--page-side-margin, 2rem);
}

nav#topNav::after {
  content: "";
  clear: both;
  display: table;
}

nav a {
  color: #ffffff;
  color: var(--text-white, #ffffff);
}

nav#topNav .navbar-brand {
  float: left;
  line-height: 10vh;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-menu {
  list-style-type: none;
}

#topMainMenu {
  float: right;
  position: relative;
}

#topMainMenu > .nav-item {
  float: left;
  margin: 0 10px;
}

.nav-menu .nav-link {
  font-size: 1.1rem;
}

#topMainMenu > .nav-item > .nav-link {
  font-weight: 600;
  line-height: 10vh;
  padding: 1.5vh 1.5rem;
  border-radius: 5px;
}

#topMainMenu > .nav-item > .nav-link:hover {
  color: #33ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff, 0 0 5px 0 #66ffff;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown:hover > ul.nav-menu {
  display: block;
  animation-name: nav-dropdown-animation;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.nav-item > ul.nav-menu {
  display: none;
  position: absolute;
  background: var(--bg-nav);
  width: max-content;
  border-top: 5px solid #33ffff;
}

@-moz-keyframes nav-dropdown-animation {
  0% {
    top: 11vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 10vh;
  }
}

@-moz-keyframes nav-dropdown-animation {
  0% {
    top: 11vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 10vh;
  }
}

@-o-keyframes nav-dropdown-animation {
  0% {
    top: 11vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 10vh;
  }
}

@keyframes nav-dropdown-animation {
  0% {
    top: 11vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 10vh;
  }
}

.secondary-dropdown {
  left: 100% !important;
}

.nav-dropdown:hover > .secondary-dropdown {
  display: block;
  animation-name: secondary-dropdown-animation !important;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@-moz-keyframes secondary-dropdown-animation {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes secondary-dropdown-animation {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes secondary-dropdown-animation {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes secondary-dropdown-animation {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.nav-item ul.nav-menu .nav-item {
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-item ul.nav-menu .nav-item .nav-link {
  font-weight: 400;
  line-height: 2.8;
  padding: 0 1rem;
  display: block;
}

.nav-item ul.nav-menu .nav-item .nav-link:hover {
  color: #33ffff;
}

.toggle-button,
.nav-plus,
.nav-btn-label,
.nav-btn {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 869px) {
  nav#topNav {
    padding: 0 1rem;
  }

  #topMainMenu > .nav-item > .nav-link {
    padding: 1.5vh 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav#topNav {
    padding: 0;
    /* overflow: hidden; */ /* Uncomment later*/
  }

  .toggle-container {
    height: fit-content;
    float: right;
    padding: 0 !important;
    margin: 2.5vh 0;
    margin-right: 1rem;
  }

  .toggle-button {
    display: block;
  }

  .toggle-bars {
    height: 1vh;
    width: 2.4rem;
    background-color: var(--text-white);
  }

  .toggle-bars:not(:last-child) {
    margin-bottom: 1vh;
  }

  nav#topNav .navbar-brand {
    display: block;
    margin-left: 1rem;
  }

  #topMainMenu {
    float: none;
    padding-top: 0;
    position: relative;
  }

  #topMainMenu > .nav-item > .nav-link {
    padding: 1.5vh 1rem !important;
  }

  .nav-item {
    float: none;
    display: block;
    width: 100% !important;
    margin: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none !important;
  }

  .nav-menu .nav-link {
    display: block;
    line-height: 6.5vh !important;
  }

  .nav-item > ul.nav-menu > li > a {
    padding: 1.5vh 1rem 1.5vh 2rem !important;
  }

  .nav-item > ul.secondary-dropdown > li > a {
    padding: 1.5vh 1rem 1.5vh 3rem !important;
  }

  #topMainMenu > .nav-item > .nav-link:hover {
    box-shadow: none;
  }

  .nav-item ul.nav-menu {
    border-top: none;
    position: static;
    top: 6.5vh;
    width: 100%;
    display: none;
    opacity: 1 !important;
  }

  .nav-plus {
    display: inline;
    line-height: 6.5vh;
    float: right;
    font-size: 0.9rem;
  }

  .nav-btn-label {
    display: block;
    color: var(--text-white);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 6.5vh;
    padding: 1.5vh 1rem;
    cursor: pointer;
  }

  .nav-secondary-label {
    font-weight: 400;
    padding: 1.5vh 1rem 1.5vh 2rem !important;
  }

  .nav-btn-label + a {
    display: none !important;
  }

  ul {
    display: none !important;
  }

  [id*="navbtn"]:checked + ul {
    display: block !important;
  }

  .nav-btn-label:hover {
    color: #33ffff;
  }
}
